<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="tablecontainer">
        <h1 class="title">Cancel Requests</h1>
        <br><br>
        <div class="contentleft">
            <input style="width: 60%; margin-right: 200px;" type="text" name="Searchdata" formControlName="Searchdata"
                class="serchdata" placeholder="Search here">
        </div><br>

        <hr> <br> <br>

        <table>
            <thead>
                <tr>
                    <th>Pending for Manager Approval</th>
                    <th>Approved by Manager</th>
                    <th>Pending for Finance Manager Approval</th>
                    <th>Approved by Finance Manager</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tq of travelqueue|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                    <td>{{ tq.managerapproval }}</td>
                    <td>{{ tq.approvedmanager }}</td>
                    <td>{{ tq.pendingfinancemanagerapproval }}</td>
                    <td>{{ tq.approvedfinancemanagerapproval }}</td>
                </tr>
            </tbody>
        </table>
        <br>

    </div>
    <app-footer></app-footer>