<!-- <app-headder></app-headder> -->
<!--  <router-outlet></router-outlet> -->
<!-- <app-sidebar></app-sidebar> 
 <app-register></app-register> -->
<!-- <app-personal-details></app-personal-details> -->
<!-- <app-professional-details></app-professional-details>  -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer>  -->
<!-- <app-child-project></app-child-project> -->
<!-- <app-customercreation></app-customercreation> -->
<!-- <app-customer-modification></app-customer-modification> -->
<!-- <app-customer-mod-view></app-customer-mod-view> -->
<!-- <app-customer-view></app-customer-view> -->
<!-- <app-project-detial></app-project-detial> -->
<!-- <app-proj-dealloc></app-proj-dealloc> -->
<!-- <app-project-allocation></app-project-allocation> -->
<!-- <app-initiate-rem></app-initiate-rem> -->
<!-- <app-reimburse-approve></app-reimburse-approve> -->
<!-- <app-cms-upload-admin></app-cms-upload-admin> -->
<!-- <app-policy-upload-admin></app-policy-upload-admin> -->
<!-- <app-magzine-upload-admin></app-magzine-upload-admin> -->
<!-- <app-add-appraisal></app-add-appraisal> -->
<!-- <app-appraisal></app-appraisal> -->
<!-- <app-rejected-appraisal></app-rejected-appraisal> -->
<!-- <app-do-appraisal></app-do-appraisal>
<app-view-appraisal-data>   </app-view-appraisal-data> -->
<!-- <app-mark-details></app-mark-details> -->
<!-- <app-add-itasset-details></app-add-itasset-details> -->
<app-add-non-it-asset-details></app-add-non-it-asset-details>
<app-asset-details></app-asset-details>
<app-itasset-allocation></app-itasset-allocation>

