<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header> Menu</header>

       <!--/////////////  Abhi ////////// -->
        <!-- <a id="dsh" href="#" class="active" >   
            <span></span>
        </a> -->
        
        <a id="apr" (click)="getID('dsh')" >
            <i class="fas fa-qrcode"></i>
            <span>Dashboard</span>
        </a>
        <a id="apr" (click)="getID('apr')" >
            <i class="fas fa-link"></i>
            <span>Appraisal</span>
        </a>

        <a id="emp" (click)="getID('emp')">
            <i class="far fa-envelope"></i>
            <span>Employee </span>
        </a>
        <a id="pjt">
            <i class="far fa-envelope"></i>
            <span>Project</span>
        </a>
        <a id="rmb" (click)="getID('rmb')">
            <i class="far fa-envelope"></i>
            <span>Reimbusment </span>
        </a>
        <a id="cms">
            <i class="fas fa-stream"></i>
            <span>CMS</span>
        </a>    
        <a id="req">
            <i class="far fa-envelope"></i>
            <span>Request</span>
        </a>


        <!--/////////////////////    Mahesh  ////////////////////////-->
        <a id="ast">
            <i class="fas fa-sliders-h"></i>
            <span>Assets</span>
        </a>
        <a id="hol">
            <i class="far fa-envelope"></i>
            <span>Holiday</span>
        </a>
        <a id="inv">
            <i class="far fa-envelope"></i>
            <span>Invoice</span>
        </a>
        <a id="mrk">
            <i class="far fa-envelope"></i>
            <span>Mark</span>
        </a>
        <a id="cocd">
            <i class="far fa-envelope"></i>
            <span>Common Code</span>
        </a>



        <!--/////////////////////    Jadhav ////////////////////////////-->
        
        <a id="cpt">
            <i class="far fa-question-circle"></i>
            <span>Capture</span>
        </a>
        <a id="arn">
            <i class="far fa-envelope"></i>
            <span>App Renovated</span>
        </a>
        <a id="brd" [routerLink]="['/message']" >
            <i class="far fa-envelope"></i>
            <span>Birthaday</span>
        </a>

        <a id="rpt">
            <i class="far fa-envelope"></i>
            <span>Report</span>
        </a>
        <a id="rst">
            <i class="far fa-envelope"></i>
            <span>Reset</span>
        </a>
        <a id="tvl" [routerLink]="['/message']">
            <i class="bi bi-airplane-fill"></i>
            <span>Travel</span>
        </a>

        
        <a></a>
        <a></a>
       
    </div>
</div>