/* .container{
  margin-top: 180px;
  margin-bottom:33.5%;
}
form .input-box label.details{
  display: block;
  font-weight: 400;
  margin-bottom: 15px;
}

.user-details .input-box input{
  height: 35px;
  width: 100%;
  outline: #9b59b6;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 15px;
  margin-right: 5px;
  padding-left: 15px;
  border: 1px solid #9b59b6;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


.button{
  color: whitesmoke;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color:navy;
} 
.button:hover{
  background-color: rgb(0, 76, 255);
  
} */