<div class="tablecontainer">
    <h1 class="title">Professional KPI</h1>
    <br>

    <table>
        <thead>
            <tr>
                <th>Indicator</th>
                <th>Weightage</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ><input class="serchdata" type="text" name="Indicators"></td>
                <td><input  class="serchdata" type="text" name="Weightage"></td>
                <td><input  class="serchdata" type="text" name="Role"></td>
            </tr>
            <tr>
                <td><input class="serchdata" type="text" name="Indicators"></td>
                <td><input class="serchdata" type="text" name="Weightage"></td>
                <td><input class="serchdata" type="text" name="Role"></td>
            </tr>
            <tr>
                <td>Total Weightage</td>
                <td><input class="serchdata" type="text" name="Weightage"></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>

<br><br><br>

<div class="tablecontainer">
    <h1 class="title">Behavioural KPI</h1>
    <br>

    <table>
        <thead>
            <tr>
                <th>Indicator</th>
                <th>Weightage</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="serchdata" type="text" name="Indicators"></td>
                <td><input class="serchdata" type="text" name="Weightage"></td>
                <td><input class="serchdata" type="text" name="Role"></td>
            </tr>
            <tr>
                <td><input class="serchdata" type="text" name="Indicators"></td>
                <td><input class="serchdata" type="text" name="Weightage"></td>
                <td><input class="serchdata" type="text" name="Role"></td>
            </tr>
            <tr>
                <td>Total Weightage</td>
                <td><input class="serchdata" type="text" name="Weightage"></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>

<br><br>

<h3 class="headding">Do you want to proceed with updating the data?</h3>
<div>
    <button class="button" type="reset">cancel</button>
    <button class="button" type="reset">Submit</button>
</div>

